body {
  margin: 0;
  padding: 0;
}

.app-container {
  width: 100vw;
  max-width: 1200px;
  height: 100vh;
  background: linear-gradient(#e7ecf9, #fff);
  overflow: hidden;
  min-width: 375px;
  margin: 0 auto;
}
